$color-danger: rgb(180, 51, 51);/* input color invalid*/
$color-gold:#ffc60c; /* input border color*/
$color-dark-yellow:#cac46a; /* l'ombre la plus foncée */
$color-light-yellow:#fffdde;/* l'ombre la plus claire */
$color-background:#fffab7; /* Backround color */